<ul role="menu-bar">
  <li role="menu-item" tabindex="0" aria-haspopup="false">
    <a href="/index.html" tabindex="0">Home</a>
  </li>
  <li role="menu-item" tabindex="0" aria-haspopup="true">
    Experience
    <ul role="menu" id="menu-experience"></ul>
  </li>
  <li role="menu-item" tabindex="0" aria-haspopup="true">
    Projects
    <ul role="menu" id="menu-projects"></ul>
  </li>
  <li role="menu-item" tabindex="0" aria-haspopup="true">
    Links
    <ul role="menu">
      <li role="menu-item"><a href="https://github.com/keshava1">Github</a></li>
      <li role="menu-item"><a href="https://www.linkedin.com/in/keshavach/">LinkedIn</a></li>
    </ul>
  </li>
</ul>